@charset "utf-8";
/*头部导航hover样式*/
.ht-more:hover ul{
	margin-top:-50px;
}
.ht-more:hover + ul{
	margin-top:-50px;
}
.ht-nav a:hover{
	color: $fontColor;
}
/*swiper改变hover样式*/
#header .hc-bannerl:hover .swiper-button-prev{
	left: 693px;
}
#header .hc-bannerl:hover .swiper-button-next{
	right: 0px;
}


