.swiper-pagination-bullet-active{
		background: #e86521!important;
}
.el-loading-spinner i{
	margin-top:12px!important;
}
.el-menu-vertical-demo{
	height: 110vh!important;
}
.el-menu-item{
	width: 100%!important;
	font-size: 16px;
}
.el-menu-item span{
	display: inline-block;
	width: 100%!important;
	height: 100%!important;
}
.el-submenu__title{
	font-size: 16px;
}
.el-submenu{
	width: 100%!important;
}
.el-tooltip__popper{
	max-width: 350px!important;
	max-height: none;
}
.el-select{
	width: 80%!important;
}
.el-select-dropdown__item{
	float: none;
}
.el-tabs__item{
	font-size:17px!important;
	font-weight: bold;
}
